html {
  height: 100%;
}

body {
  margin:0px;
  padding: 0px;
}

.page-header {
  justify-content: center;
  align-items: center;
  color: black;
}
.navbar {
  background-color: orange;
  color: black;
}

.navbar .navbar-brand {
  margin-left: 20%;
}

.navbar .collapse {
  padding-left: 30%;
  margin-right: 20%;
}

.page-content {
  height: auto;
  margin: 0 auto -20px; /* footer height + space */
  min-height: 100%;
  padding: 0 0 20px; /* footer height + space */
  /* box-sizing: border-box; */
  overflow: auto;
  max-width: 900px;
  margin-top: 5%;
}

.page-footer {
  display: block;
  padding-top: 60px;
  margin-top: 5%;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 35vh;
  background-color:orange
}

.footer {
  display: inline-block;
  background-color: grey;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  gap: 20px 20px;
  grid-template-areas:
    ". . ."
    ". . .";
}

.home-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 30px;
  grid-template-areas:
    ". .";
}

.left-column{
  grid-row-start: 1;
  grid-row-end: 1;

}

.right-column{
  grid-row-start: 1;
  grid-row-end: 1;

}

.sidenav {
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 150px 0 25px 25px;
  margin-left: 10%;
  margin-bottom: 10%;
}

.sidenav .title {
  margin-bottom: 20px;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: grey;
}

.card{
  width: 250px;
}

.card-header {
  text-align: center;
  background-image: url("../img/gettyimages-636555416-612x612.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 200px;
} 

.card-content{
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 15px;
  list-style: none;

}

header.masthead {
  text-align: center;
  color: white;
  /* background-image: url("../img/gettyimages-636555416-612x612.jpgk"); */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 35px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 35px;
  color: black;
  font-family: "Roboto", sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 80px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 45px;
  color: black;
  font-family: "Roboto", sans-serif;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #428bca;
  border-color: #428bca;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #3677b1 !important;
  border-color: #3677b1 !important;
  color: white;
}

.post-list{
  margin-bottom: 50px;

}

.post-header{
  margin-bottom: 50px;
}

.pagination a,
.pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination a {
  &:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}

.pagination {
  text-align: center;
  justify-content: center;
}
