<html lang="{{ page.lang | default: site.lang | default:"en" }}">
    {%- include head.html -%}
    <body>
        {%- include header.html color="black" -%}
        {%- assign default_paths = site.pages | map: "path" -%} 
        {%- assign page_paths = site.header_pages | default: default_paths -%} 
        {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
        {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%} 
            {%- if my_page.title and my_page.layout != "home" -%}
                <div class="sidenav">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <ul class="list-unstyled">
                        {% for post in posts %}
                            <li class="list-item">
                                <div class="row">
                                    <span class="post-meta" style="color: white">{{ post.date | date: date_format }}</span>
                                    <a class="post-link" href="{{ post.url | relative_url }}">
                                    {{ post.title | escape }}</a>
                                    {% if post.author %}
                                        <p style="color:white;">
                                            <i>posted by:<i>  {{ post.author | escape }}
                                        </p>
                                    {% endif %}
                                </div>
                    {% endfor %}
                </div>
            {% endif %}
        {%- endfor -%}
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>
        <!-- <script type="module" src="../assets/fetch_posts.js"></script> -->
        {%- include footer.html -%}
    </body>
</html>